<div class= "center jumbotron">
	<h1> Welcome to RoboTweet</h1>
	<%= link_to "Sign up now", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("RobotImage.png", alt: "MainRobot"),
            'http://www.google.com' %>
<% provide(:title, "Home") %>
	

