<div class= "center jumbotron">
	<h1> Welcome to RoboTweet</h1>
	<%= link_to "Sign up now", '#', class: "btn btn-lg btn-primary" %>
</div>

<% provide(:title, "Home") %>
	<h1> StaticPages home </h1>
	

