@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

html {
	overflow-y: scroll;
}

body{
	padding-top: 60px;
}

section{
	overflow:auto;
}
textarea{
	resize:vertical;
}


/*  typography  */
h1{
	font-size:3em;
	letter-spacing:-3px;
	margin-bottom:30px;
	text-align:center;
}
h5{
	text-align:right;
	font-size:1.2em;
	letter-spacing: -1px;
	margin-bottom:30px;
	color:#777;
}

 

 /* image */
#image{
	width:50px;
	height:auto;
	margin-top:5px;
}


/* footer */
footer{
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid $gray-medium-light;
color: #777;
}
footer a{
	color: #555;
}
footer a:hover{
	color: #222;
}
footer small{
	float:left;
	margin-left:15px;
}
footer ul{
	float:right;
}
footer ul li{
	float:left;
	display:inline-block;
	margin-left:15px;
	margin-right:15px;
}