<footer class = "footer">
	<nav>
		<small>
			RoboTweet All Rights Reserve 2015
		</small>
		<ul>
			<li> <%= link_to "About", about_path %></li>
			<li> <%= link_to "Help", help_path %></li>
		</ul>
	</nav>
</footer>